:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transform: scale(0.68);
  transform-origin: top center;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  margin-bottom: 0%;
}

.banner {
  min-height: 5vh;
  color: #fff;
  justify-content: center;
  display: flex;
  background-color: #1a1a1a;
  padding-left: 20px;
  margin-top: 0;
  align-items: center;
}

.column {
  flex: 1;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  color: #fff;
  text-align: center;
  background-color: #1a1a1a;
}

/* Set a fixed width for each column */
.column {
  flex-basis: calc(50% - 20px);
  /* Adjust the width as needed */
}

/* Style for the first container (70%) */
.container .left-column {
  flex: 70%;
  position: relative;
}

/* Style for the second container (30%) */
.container .right-column {
  position: relative;
}

/* Style for the images inside each container */
.container .left-column img,
.container .right-column img {
  width: 100%; /* Make images fill their containers */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove default inline behavior */
}

/* Position the first image on the left */
.container .left-column img {
  left: 0;
  top: 0;
}

/* Position the second image on the right */
.container .right-column img {
  display: block;
  justify-content: flex-end;
}

.footer-container {
  font-size: 20pt;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  max-height: 10vh;
  background-color: #1a1a1a;
  box-sizing: border-box;
}

.footer-column {
  overflow: hidden;
}

/* Add styles for each column as needed */
.id-column {
  flex: 2; /* Adjust the flex ratio as needed */
  padding-left: 2%;
  padding-right: 2%;
}

.marquee-column {
  flex: 8; /* Adjust the flex ratio as needed */
  max-width: 80%; /* Set a maximum width if necessary */
  
}

.time-column {
  flex: 1; /* Adjust the flex ratio as needed */
  font-size: 100%;
  max-width: 10%; /* Set a maximum width if necessary */
  padding-left: 2%;
  padding-right: 2%;
  
}

.img-recycle {
  max-width: 80%;
  height: auto;
}

.img-signs {
  max-width: 100%;
  height: 50%;
}

.signs-text {
  flex-basis: 60%;
  font-size: 15pt;
  font-weight: bold;
  padding-left: 0;
}

.column-20 {
  flex-basis: 10%;
  flex-shrink: 1;
  height: auto;
}

.column-30 {
  flex-basis: 20%;
  height: auto;
  flex-shrink: 1;
}

.padding-zero {
  padding: 0;
}

.th-1 {
  font-weight: bold;
  font-size: 15pt;
  height: 3vh;
}

.th-2 {
  height: 4vh;
  background-color: yellow;
  color: black;
}

